.vbox-menu {
    -fx-background-color: linear-gradient(to bottom, #1a1a1a, #333333);
}


.button-start {
    -fx-font-size: 18px;
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-padding: 10 20;
}


.button-quit {
    -fx-font-size: 18px;
    -fx-background-color: #f44336;
    -fx-text-fill: white;
    -fx-padding: 10 20;
}